# ETL

## Imports

In [41]:
import os
import re

from sqlalchemy import create_engine
import numpy as np
import pandas as pd

## Enviroument variables

In [10]:
# export DATABASE_URI='mysql+pymysql://root:root@0.0.0.0:3306/BIKES'
# set DATABASE_URI='mysql+pymysql://root:root@0.0.0.0:3306/BIKES'
DATABASE_URI = os.environ.get('DATABASE_URI')

if not DATABASE_URI:
    raise ValueError('No DATABASE_URI variable was set')

## Database connection

In [11]:
engine = create_engine(DATABASE_URI)
engine.connect()

## Functions

In [12]:
def to_upper(text: str) -> str:
    """To upper case non null text"""
    if text is not None:
        return text.upper()

In [13]:
def to_lower(text: str) -> str:
    """To lower case non null text"""
    if text is not None:
        return text.lower()

In [14]:
def id_to_captilize(text: str) -> str:
    """Replace string non null text that ends with ID to Id"""
    if text is not None:
        return re.sub(r'(^.*)ID', r'\1Id', text)

In [15]:
def to_snake_case(text: str) -> str:
    """To snake case non null text"""
    if text is not None:
        return re.sub(r'(?<!^)(?=[A-Z])', '_', text)

In [26]:
def to_float(text: str) -> float:
    """String to float format"""
    if text is not None:
        return float(text.replace(',', '.'))

## Person

### Loading dataset

In [ ]:
dataframe = pd.read_csv('../dataset/Person.Person.csv', sep=';')
dataframe.head()

### Rename dataframe header

In [ ]:
dataframe.columns

In [ ]:
dataframe.columns = [to_upper((to_snake_case(id_to_captilize(column)))) for column in dataframe.columns]

In [ ]:
dataframe.columns

In [ ]:
dataframe.rename({'BUSINESS_ENTITY_ID': 'PERSON_ID'}, axis=1, inplace=True)

### Fix TITLE column

In [ ]:
dataframe.TITLE.value_counts()

In [ ]:
dataframe.TITLE.replace({'Ms': 'Ms.'}, inplace=True)

In [ ]:
dataframe.TITLE.value_counts()

### Populate

In [ ]:
dataframe.to_sql('PERSON', engine, if_exists='append', index=False)

### Select

In [ ]:
query = """
SELECT *
FROM PERSON
LIMIT 3
"""

In [ ]:
pd.read_sql(query, engine)

## Customer

### Loading dataset

In [ ]:
dataframe = pd.read_csv('../dataset/Sales.Customer.csv', sep=';')
dataframe.head()

### Rename dataframe header

In [ ]:
dataframe.columns

In [ ]:
dataframe.columns = [to_upper((to_snake_case(id_to_captilize(column)))) for column in dataframe.columns]

In [ ]:
dataframe.columns

### Populate

In [ ]:
dataframe.to_sql('CUSTOMER', engine, if_exists='append', index=False)

In [ ]:
query = """
SELECT *
FROM CUSTOMER
LIMIT 3
"""

In [ ]:
pd.read_sql(query, engine)

## Sales Order Header

### Loading datase

In [54]:
dataframe = pd.read_csv('../dataset/Sales.SalesOrderHeader.csv', sep=';')
dataframe.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,"20565,6206","1971,5149","616,0984","23153,2339",NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,"1294,2529","124,2483","38,8276","1457,3288",NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,"32726,4786","3153,7696","985,553","36865,8012",NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,"28832,5289","2775,1646","867,2389","32474,9324",NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,"419,4589","40,2681","12,5838","472,3108",NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000

### Rename dataframe header

In [55]:
dataframe.columns

Index(['SalesOrderID', 'RevisionNumber', 'OrderDate', 'DueDate', 'ShipDate',
       'Status', 'OnlineOrderFlag', 'SalesOrderNumber', 'PurchaseOrderNumber',
       'AccountNumber', 'CustomerID', 'SalesPersonID', 'TerritoryID',
       'BillToAddressID', 'ShipToAddressID', 'ShipMethodID', 'CreditCardID',
       'CreditCardApprovalCode', 'CurrencyRateID', 'SubTotal', 'TaxAmt',
       'Freight', 'TotalDue', 'Comment', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [56]:
dataframe.columns = [to_upper((to_snake_case(id_to_captilize(column)))) for column in dataframe.columns]

In [57]:
dataframe.columns

Index(['SALES_ORDER_ID', 'REVISION_NUMBER', 'ORDER_DATE', 'DUE_DATE',
       'SHIP_DATE', 'STATUS', 'ONLINE_ORDER_FLAG', 'SALES_ORDER_NUMBER',
       'PURCHASE_ORDER_NUMBER', 'ACCOUNT_NUMBER', 'CUSTOMER_ID',
       'SALES_PERSON_ID', 'TERRITORY_ID', 'BILL_TO_ADDRESS_ID',
       'SHIP_TO_ADDRESS_ID', 'SHIP_METHOD_ID', 'CREDIT_CARD_ID',
       'CREDIT_CARD_APPROVAL_CODE', 'CURRENCY_RATE_ID', 'SUB_TOTAL', 'TAX_AMT',
       'FREIGHT', 'TOTAL_DUE', 'COMMENT', 'ROWGUID', 'MODIFIED_DATE'],
      dtype='object')

### Fix float values

In [59]:
dataframe.replace({np.nan: None}, inplace=True)

In [60]:
dataframe.SUB_TOTAL = dataframe.SUB_TOTAL.apply(to_float)
dataframe.TAX_AMT = dataframe.TAX_AMT.apply(to_float)
dataframe.FREIGHT = dataframe.FREIGHT.apply(to_float)
dataframe.TOTAL_DUE = dataframe.TOTAL_DUE.apply(to_float)

### Populate

In [62]:
dataframe.to_sql('SALES_ORDER_HEADER', engine, if_exists='append', index=False)

In [ ]:
query = """
SELECT *
FROM CUSTOMER
LIMIT 3
"""

In [ ]:
pd.read_sql(query, engine)